{{ define "public/index.tmpl" }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ .title }}</title>
  </head>
  <body>
    <h1>{{ .header }}</h1>
    <p><a href="/submit">Submit</a> | <a href="/search">Search</a></p>
    <p>{{ .quote }}
  </body>
</html>
{{ end }}
