{{ define "public/output.tmpl" }}
<!DOCTYPE html>
<html>
  <head>
    <title>RootWire Quote Database</title>
  </head>
  <body>
    <h1>{{ .header }}</h1>
    <p>ID: {{ .id }} Quote: {{ .quote }} Created: {{ .created }}</p>
  </body>
</html>
{{ end }}
